@import '../../../../assets/scss/variables';

.nicico-breadcrumb {
  height: 20px;
  min-width: 100px;
  margin: 5px 10px;
  display: flex;

  .breadcrumb-item {
    font-size: 13px;
    font-weight: bold;
    color: #8B8B8B;
    cursor: pointer;

    &.current-route {
      font-weight: bold;
      //color: $pickled-bluewood;
      cursor: default;
    }

    .breadcrumb-separator {
      font-size: 18px;
      vertical-align: bottom;
    }
  }
}
