$baseGap: 1rem;
$baseFontFamily: 'YekanWeb';
$boldFontFamily: YekanBold;
$animationDuration: 0.2s;
$primary: #fe9d2a;
$primary-blue: #EFF5FC;
$primary-border-radius: 5px;
$primary-border-radius-2: 8px;
$primary-border-bottom: 1px solid rgba(112, 112, 112, 0.31);
$white: #ffffff;

@mixin primary-shadow() {
  box-shadow: 0 5px 5px rgba(140, 140, 140, 0.2);
}

@mixin primary-shadow-2() {
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.1);
}
